# Only run CI on master, release branches, tags, and PRs
if: tag IS present OR type = pull_request OR ((branch = master OR branch =~ release-*) AND type = push)

# Main dist is Python
language: python

# Cache package wheels
cache: pip

# python3.7 only available on xenial
dist: xenial

# Set JAVA_HOME
env:
  - JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64

jobs:
  include:
    - name: "Python 3.6: tutorial tests"
      python: 3.6
    - name: "Python 3.7: tutorial tests"
      python: 3.7

jobs:
  include:
    - if: type = pull_request
      name: "Python 3.6: affected tutorial tests"
      python: 3.6
      env: JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
    - if: type = pull_request
      name: "Python 3.7: affected tutorial tests"
      python: 3.7
      env: JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
    - if: type != pull_request
      name: "Python 3.6: all tutorial tests"
      python: 3.6
      env: ALL_ENVS=--all JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
    - if: type != pull_request
      name: "Python 3.7: all tutorial tests"
      python: 3.7
      env: ALL_ENVS=--all JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64

# Install JDK8 for PySpark tests
before_install:
  - sudo add-apt-repository -y ppa:openjdk-r/ppa
  - sudo apt-get -qq update
  - sudo apt-get install -y openjdk-8-jdk --no-install-recommends
  - sudo update-java-alternatives -s java-1.8.0-openjdk-amd64

install:
  - pip install -U pip setuptools
  - pip install -U tox==3.13.0
  - python scripts/get_tox_envs.py --travis-strict --plan $ALL_ENVS
  - tox --notest -e $(python scripts/get_changed_tox_envs.py --travis-strict $ALL_ENVS)

script:
  - tox -e $(python scripts/get_changed_tox_envs.py --travis-strict $ALL_ENVS)
