#### ESSENTIAL LIBRARIES

snorkel==0.9.5


#### DEV TOOLS

black==19.3b0
flake8==3.7.8
jupyter==1.0.0
jupytext==1.2.0
nbconvert==5.5.0
dask[complete]>=2.1.0,<3.0.0
pyarrow>=0.14.1,<0.15.0
pyspark==2.4.3
matplotlib==3.1.1
names==0.3.0
nltk==3.4.5
numpy>=1.16.0,<1.17.0
pandas==0.25.0
scikit-learn>=0.20.2
spacy>=2.1.6,<2.2.0
tensorflow==1.14.0
textblob==0.15.3
torchvision==0.6.0
Pillow==6.2.0
tensorboardX==1.8
svn
