#### ESSENTIAL LIBRARIES

snorkel==0.9.5


#### DEV TOOLS

black==19.3b0
flake8==3.7.8
jupyter==1.0.0
jupytext==1.2.0
nbconvert==5.5.0
Cython
numpy>=1.16.0
scipy
scikit-learn>=0.20.2
pandas==0.25.0
numpy>=1.16.0
torchvision==0.8.2
Pillow==6.2.0
tensorboardX==1.8
svn
matplotlib==3.1.1
tensorflow==1.14.0
names==0.3.0
nltk==3.4.5
spacy>=2.1.6,<2.2.0
textblob==0.15.3
gdown==3.8.1
dask[complete]>=2.1.0,<3.0.0
pyarrow>=0.14.1,<0.15.0
pyspark==2.4.3 
pytorch-transformers==1.0.0
